#resource-component {
  width: 50%;
  position: fixed;
  top: 10px;
  left: 10px;
  background:rgba(100,100,100,0.7);
  padding: 3%;
  border-radius: 15px;
  float: left;
  overflow: hidden;
  z-index: 2;
}

#content-entry {
  width: 35%;
  background:rgba(100,100,100,0.7);
  padding: 3%;
  border-radius: 15px;
  position: fixed;
  right: 10px;
  top: 90px;
}

#entries {
  width: 50%;
  position: fixed;
  top: 160px;
  left: 10px;
  background:rgba(100,100,100,0.7);
  padding: 3%;
  border-radius: 15px;
  z-index: 1;
  height: 60vh;
  overflow: hidden;
}

#entries-child {
  height: 100%;
  margin-right: -70px; /* maximum width of scrollbar */
  padding-right: 70px; /* maximum width of scrollbar */
  overflow-y: scroll;
  overflow-x: hidden;
}

.left-heading {
  float: left;
  color: white;
}

.resource-container {
    padding: 1%;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
}

.control {
  position: fixed;
  right: 10px;
  top: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  background:rgba(100,100,100,0.7);
  border-radius: 15px;
  color: white;
  display: inline;
}

.no-background-btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin: 0 10px;
}

.main-box {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  background:rgba(100,100,100,0.7);
  padding: 7%;
  border-radius: 15px;
}

.pill-link {
  cursor: pointer;
}

.pill-link-wrapper {
  margin-left: 2%;
  margin-top: 1%;
  float: left;
}

.add-icon {
  float: right;
}
